.Popup-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(77, 77, 77, 0.5);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.Popup {
    height: 15em;
    width: 25em;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}

.Popup-header {
    flex: 1;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Popup-message {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Popup-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Popup-button > button {
    background-color: rgba(105, 172, 111, 0.6);
}
