.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.App-result-row,
.App-bet-row,
.App-control-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.App-result-row,
.App-bet-row {
    flex: 2;
}

.App-control-row {
    flex: 1;
    font-size: 2em;
}

.App-result-row > div {
    flex: 1;
    font-size: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App-continue-link {
    font-size: 2em;
    cursor: pointer;
}

.App-bet-row > div {
    flex: 1;
    font-size: 5em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App-control-row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App-balance {
    flex: 2;
}

.App-status {
    flex: 2;
}

.App-flip {
    flex: 1;
}

.App-flip > button {
    height: 3em;
    width: 3em;
    font-size: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

.App-flip button:focus {
    outline: 0;
}

.App-win {
    flex: 2;
}

.App-round {
    flex: 2;
}

.App-outcome-win {
    color: green;
}

.App-outcome-lose {
    color: red;
}
